<!--
	Author: Jack Huynh
	Date: Dec 12 2022
	Description: ePortfolio 
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="portfolio_base.css" />
	<link rel="stylesheet" type="text/css" href="portfolio_layout.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Contact Page
	</title>
</head>
<body>
	<img src="Images/contact.jpg" alt="header_img" class="header_img">
	<header>
		<nav class="navbar">
        	<ul>
			  <li><a href="index.html">Home</a><br></li>
			  <li><a class="active" href="contact.html">Contact</a><br></li>
			  <li><a href="goals.html">Goals</a><br></li>
			  <li><a href="skills.html">Skills</a><br></li>
			  <li><a href="resume.html">Resume</a></li>
			</ul>
		</nav>
	</header>
	
	<div id="pContact">
		<section id="phone">
			<h1>PHONE</h1>
			<h2>7827747553</h2>
			<img src="Images/phone-logo.png" class="contact_img" alt="contact_img" >
		</section>
		<section id="email">
			<h1>EMAIL</h1>
			<h2>jack.huynh0103@gmail.com</h2>
			<a href="mailto:jack.huynh0103@gmail.com">
							<img src="Images/email-logo.jpg" alt="contact_img" class="contact_img">
						</a>
		</section>
		<section id="address">
			<h1>ADDRESS</h1>
			<h2>5677 Inglis Street, Halifax, Nova Scotia, Canada</h2>
			<a href="https://www.google.ca/maps/place/5677+Inglis+St,+Halifax,+NS+B3H+1K2/@44.6347501,-63.5775838,17z/data=!3m1!4b1!4m5!3m4!1s0x4b5a223877153413:0xc0dc7af34ac5960b!8m2!3d44.6347501!4d-63.5753951" target="_blank">
							<img src="Images/maps-logo.jpg" alt="contact_img" class="contact_img">
						</a>
		</section>
		<section id="fb">
			<h1>FACEBOOK</h1>
			<h2>HUYNH HOANG PHUC</h2>
			<a href="https://www.facebook.com/profile.php?id=100008075448682" target="_blank">
				<img src="Images/Facebook-logo.png" alt="contact_img" class="contact_img">
			</a>
		</section>
		<section id="ig">
			<h1>INSTAGRAM</h1>
			<h2>jack._.huynh</h2>
			<a href="https://www.instagram.com/jack._.huynh/" target="_blank">
				<img src="Images/Instagram-logo.png" alt="contact_img" class="contact_img">
			</a>
		</section>
	</div>
</body>
</html>