<!--
	Author: Jack Huynh
	Date: Dec 12 2022
	Description: ePortfolio 
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="portfolio_base.css" />
	<link rel="stylesheet" type="text/css" href="portfolio_layout.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Goals Page
	</title>
</head>
<body>
		<img src="Images/goals.jpg" class="header_img goals" alt="img">
		<header>
			<nav class="navbar">
        	<ul>
			  <li><a href="index.html">Home</a><br></li>
			  <li><a href="contact.html">Contact</a><br></li>
			  <li><a class="active" href="goals.html">Goals</a><br></li>
			  <li><a href="skills.html">Skills</a><br></li>
			  <li><a href="resume.html">Resume</a></li>
			</ul>
		</nav>
		</header>
		<div id="pGoals">
			<section id="shortGoals">
				<img src="Images/shortGoals.png" class="goals_img" alt="img">
				<h2>Short term goals:</h2>
				<p>
					-Finish a NSCC college's diploma with a high performances.<br>
					-Visit some famous and attractive cities in/near the Atlantic Province.<br>
					-Do more research about Canadian's life, study method and job opportunities.<br>
					-Gain certain experiences and skills from the coop program aobut real-life working in the IT field.<br>
					-Become fluent in English especially for Speaking.<br> 
				</p>
			</section>
			<section id="longGoals">
				<img src="Images/longGoals.png" class="goals_img" alt="img">
				<h2>Long term goals:</h2>
				<p>
					-Transfer to Dalhousie university for a Bachelor of Applied Computer Science degree.<br>
					-Visit more major cities in Canada and US or other countries aboard<br>
					-Have a decent job relates to the IT field.<br>
					-Apply for Permanent Resident and become the Citizen of Canada.<br>
					-Accumulate more knowledge and experiences to achieve a higher position.<br>
				</p>
			</section>
		</div>
			
</body>
</html>