<!--
Author:  Jack Huynh 2
Date: Dec 12 2022
Description: eportfolio;
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="portfolio_base.css" />
	<link rel="stylesheet" type="text/css" href="portfolio_layout.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<title>
		Home Page
	</title>
</head>
<body>
	<img src="Images/welcome.jpg" class="header_img" alt="img">
	<header>
		<nav class="navbar">
        	<ul>
			  <li><a  class="active" href="index.html">Home</a><br></li>
			  <li><a href="contact.html">Contact</a><br></li>
			  <li><a href="goals.html">Goals</a><br></li>
			  <li><a href="skills.html">Skills</a><br></li>
			  <li><a href="resume.html">Resume</a></li>
			</ul>
		</nav>
	</header>
	 <section class = "home container">
	      <div class = "row">
	        <div class = "row-left">
	          <h3>hello, nice to meet you!</h3>
	          <h1>My name is <span>Jack Huynh</span></h1>
	          <h2>I have been living and studying in Ho Chi Minh city, Viet Nam for more than 19 years before coming to Halifax, Nova Scotia, Canada from September 1st 2022 until now. This e-porfolio generally presents information about myself, initialized in my first semester at NSCC college. </h2>
	        </div>
	        <div class = "row-right">
	            <div class = "img-container">
	              <img src = "Images/avatar1.png" alt="img">
	            </div>
	          </div>
	      </div>
	    </section>
</body>
</html>