<!--
	Author: Jack Huynh
	Date: Dec 12 2022
	Description: ePortfolio 
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="portfolio_base.css" />
	<link rel="stylesheet" type="text/css" href="portfolio_layout.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>
		Resume Page
	</title>
</head>
<body>
	<header>
		<nav class="navbar">
	    	<ul>
			  <li><a href="index.html">Home</a><br></li>
			  <li><a href="contact.html">Contact</a><br></li>
			  <li><a href="goals.html">Goals</a><br></li>
			  <li><a href="skills.html">Skills</a><br></li>
			  <li><a class="active" href="resume.html">Resume</a></li>
			</ul>
		</nav>
	</header>
	<div id="pResume">
		<section id="intro">
			<h3>
				JACK HUYNH<br>
				Full-stack web developer
			</h3>
			<p>
				Software programmer with the ability to learn and collaborate in rapidly changing environment and compositions. Eager to tackle web development challenges to achieve lasting impacts on user experience. 
			</p>
		</section>
		<section id="avatar">
				<img src="Images/avatar2.png" id="avatar-image" alt="img">
		</section>
		<section id="contact">
			<p>
				-phone: 7827747553<br>
				-email: jack.huynh0103@gmail.com<br>
				<span>
					-GITHUB:
					<a href="https://github.com/Jack-Huynh" target="_blank">https://github.com/Jack-Huynh</a>
				</span>
			</p>	
		</section>
		<section id="education">
			<h3>
				EDUCATION
			</h3>
			<h4>
				-first year in Advanced Computer Science, National University of Science, Ho Chi Minh city, Viet Nam:
			</h4>
			<div>
				<h5>
					CS 161 - Introduction to Computer Science I
				</h5>
				<h5>
					CS 162 - Introduction to Computer Science II
				</h5>
				<h5>
					CS 163 - Data Structure
				</h5>
			</div>
			<h4>
				-first semester in IT Web Programming, Nova Scotia Community College, Nova Scoitia, Canada:
			</h4>
			<div>
				<h5>
					OSYS 1200 - Introduction to Windows Administration
				</h5>
				<h5>
					PROG 1700 - Logic and Programming I
				</h5>
				<h5>
					DBAS 1007 - Data Fundamentals
				</h5>
				<h5>
					COMM 1700 - Professional Practices for IT I
				</h5>
				<h5>
					WEBD 1000 - Website Development
				</h5>
				<h5>
					NETW 1700 - Introduction to Networking and Security
				</h5>
			</div>
		</section>
		<section id="experience">
			<h3>
				WORK EXPERIENCE
			</h3>
			<p>
				None. Fresher
			</p>
		</section>
		<section id="projects">
			<h3>
				SIDE PROJECTS
			</h3>
			<p>
				-E-commerce web selling sneakers<br>
				-Minesweeper game and Course Registration System built in C++ for study purposes.
			</p>
		</section>
		<section id="skills">
			<h3>
				TECHNICAL SKILLS
			</h3>
			<p>
				Strong: PHP, C++, HTML, CSS, SQL<br>
				Knowledgeable: JAVA, PYTHON, JAVASCRIPT
			</p>
		</section>
	</div>
</body>
</html>