<!--
	Author: Jack Huynh
	Date: Dec 12 2022
	Description: ePortfolio 
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="portfolio_base.css" />
	<link rel="stylesheet" type="text/css" href="portfolio_layout.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>
		Skills Page
	</title>
</head>
<body>
	<img src="Images/skills.jpg" class="header_img" alt="img"><br>
	<header>
		<nav class="navbar">
        	<ul>
			  <li><a href="index.html">Home</a><br></li>
			  <li><a href="contact.html">Contact</a><br></li>
			  <li><a href="goals.html">Goals</a><br></li>
			  <li><a class="active" href="skills.html">Skills</a><br></li>
			  <li><a href="resume.html">Resume</a></li>
			</ul>
		</nav>
	</header>
	<div id="pSkills">
		<div class = "row">
	        <div class = "item">
	          <div class = "item-text">
	            <span>EDIT VIDEO</span>
	            <span class = "w-85">85%</span>
	          </div>
	          <div class = "progress">
	            <div class = "progress-bar w-85"></div>
	          </div>
	          <p>
	          	Description: Having 2 years experiences in this skill, participate in serveral video projects in high school, apps frequently used: Proshow Producer, Premiere Adobe.
	          </p>
	        </div>

	        <div class = "item">
	          <div class = "item-text">
	            <span>PHOTOSHOP</span>
	            <span class = "w-75">75%</span>
	          </div>
	          <div class = "progress">
	            <div class = "progress-bar w-75"></div>
	          </div>
	          <p>
	          	Description: Having 1 year experience in this skill, participate in a few projects in high school, used mostly to support editing video, apps frequently used: Photoshop Adobe.
	          </p>
	        </div>

	        <div class = "item">
	          <div class = "item-text">
	            <span>POWERPOINT</span>
	            <span class = "w-90">90%</span>
	          </div>
	          <div class = "progress">
	            <div class = "progress-bar w-90"></div>
	          </div>
	          <p>
	          	Description: Having more than 5 years experiences in this skill, participate in many presentation projects and assignments in secondary school, high school and university, be able to use advanced tools in Powerpoint Application.
	          </p>
	        </div>

	        <div class = "item">
	          <div class = "item-text">
	            <span>MATH & PHYSICS</span>
	            <span class = "w-80">80%</span>
	          </div>
	          <div class = "progress">
	            <div class = "progress-bar w-80"></div>
	          </div>
	          <p>
	          	Description: Excellent performace in calculating, dealing with numbers and understanding theories, solving method and achieving high grades during school time.Taken Courses which is relevant to the Computer Science major: Calculus I and II, General Physics I and II, Linear Algebra.
	          </p>
	        </div>
	    </div>
	</div>
</body>
</html>